<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString"
		     connectionString="data source=.;Initial Catalog=.;Persist Security Info=True;User ID=.;Password=.;MultipleActiveResultSets=True;TrustServerCertificate=True;"
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="DestinationFilePath" value="F:\test"/>
	</appSettings>
	
</configuration>
